name: Pull-Request

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3.3.0
      - name: Setup dotnet
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: '6.x'
      - name: Restore packages
        run: dotnet restore
      - name: Build
        run: dotnet build
      # - name: Test
      #   run: dotnet test --no-build --verbosity normal